body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #6961c2c0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App h1{
  color: #ffffff;
  text-shadow: #282c34;
  font-size: 100px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.App button{
  cursor: pointer;
  background-color: #282c34;
  border-radius: 5px;
  color: aliceblue;
  width: 10%;
  font-size: larger;
  padding: 20px;
  margin: .1%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
  border: 2px solid #ffffff;;
}
.App button:hover{
  transition: calc(.6s);
  background-color: rgb(255, 255, 255);
  color:#282c34;
  border-color: #512548;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card{
  border: 2px solid black;
  max-width: 23vm;
}