.App {
  text-align: center;
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App h1{
  color: #000000;
  text-shadow: #282c34;
  
}
.App button{
  cursor: pointer;
  background-color: #282c34;
  border-radius: 5px;
  color: aliceblue;
  width: 4%;
  padding: 4px;
  margin: .5%;
}
.App button:hover{
  transition: calc(.4s);
  background-color: rgb(138, 184, 224);
  color:#282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
